body {
    font-family: "Noto Serif", serif;
    text-align: center;
    background-color: rgb(255, 232, 189);
}

h1 {
    font-size: 3em;
    margin-top: 3rem;
    margin-bottom: 0;
    color: #3d3d3d;
}

h2 {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #565555;
}

#searchBar {
    font-size: large;
    border-style: solid;
    border-color: #3d3d3d;
    border-width: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.individualResult {
    background-color: #efdfc8;
    border-radius: 5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #565555;
    padding: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

img {
    border-radius: 0.4rem;
    margin: 0.4rem;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

 
.bigImage {
    max-width: 50%;
    height: auto;
}
