body {
    font-family: "Noto Serif", serif;
    text-align: center;
    background-color: rgb(255, 232, 189);
}

h1 {
    font-size: 3em;
    margin-top: 3rem;
    margin-bottom: 0;
    color: #3d3d3d;
}

h2 {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #565555;
}

#searchBar {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.individualResult {
    background-color: #efdfc8;
    border-radius: 5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #565555;
    padding: 1rem;
    margin: 1rem;
}