:root {
    --background-colour: #ffe8bd;
    --secondary-colour: #efdfc8;
    --tertiary-colour: #f9f9f9;
    --accent-colour: #3d3d3d;
    --secondary-accent-colour: #565555;
}

body {
    font-family: "Noto Serif", serif;
    text-align: center;
    background-color: var(--background-colour);
}

h1 {
    font-size: 3em;
    margin-top: 3rem;
    margin-bottom: 0;
    color: var(--accent-colour);
}

h2 {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 0;
    color: var(--secondary-accent-colour);
}

#searchBar {
    font-size: large;
    border-style: solid;
    border-color: var(--accent-colour);
    border-width: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 60%;
}

.individualResult {
    background-color: var(--secondary-colour);
    border-radius: 5rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--secondary-accent-colour);
    padding: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

img {
    border-radius: 0.4rem;
    margin: 0.4rem;
    margin-top: 1rem;
}

.noImage {
    height: 15%;
    width: 15%;
}

.bigImage {
    max-width: 95%;
    max-height: 95%;  
}

.popup {
    background-color: var(--secondary-colour);
    display: none;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1.5rem;
    border-color: var(--accent-colour);
    box-shadow: 0 0 10px 0 var(--accent-colour);
    z-index: 1000;
    height: 80%;
    width: 80%;
}

.close {
    float: right;
    font-size: 2rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}


button {
    background-color: var(--tertiary-colour);
    border: solid 0.1rem var(--accent-colour);
    color: var(--accent-colour);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.4rem;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
}

button:hover {
    background-color: var(--accent-colour);
    color: var(--tertiary-colour);
}

p {
    margin: 0.5rem;
}

.filterBox {
    display: none;
}

#suggestions {
    display: none;
}

.searchBox {
    background-color: var(--secondary-colour);
    border-radius: 1rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--secondary-accent-colour);
    padding: 1rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.sortOptions {
    padding: 1rem;
}

.orderOptions {
    padding-bottom: 1rem;
}

.searchOptions {
    border-style: solid;
    border-color: var(--accent-colour);
    border-width: 0.1rem;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    display: none;
}

.suggestionTitle {
    cursor: pointer;
}

.suggestionTitle:hover {
    color: var(--accent-colour);
}

@media only screen and (max-width: 600px) {

    #searchBar {
        width: 90%;
        margin-bottom: 0.1rem;
    }

    .individualResult {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .popup {
        padding: 1rem;
        height: 90%;
        width: 90%;
    }

    .searchBox {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #searchButton {
        width: 80%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
        #searchBar {
            width: 80%;
            margin-bottom: 0.1rem;
        }
    
        .individualResult {
            margin-left: 5rem;
            margin-right: 5rem;
        }
    
        .popup {
            padding: 1.5rem;
            height: 85%;
            width: 85%;
        }
    
        .searchBox {
            margin-left: 10rem;
            margin-right: 10rem;
        }

        #searchButton {
            width: 80%;
        }
}